# ML 기계학습

## 뉴욕시의 Taxi 데이터 활용한 예측 모델
---
- 데이터셋 : 케글의 NYC_taxi.csv
- 거리에 따른 요금 예측 -> 회귀

## [1] 데이터 로딩

In [ ]:
import pandas as pd

texi = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/data/train.csv",
    nrows = 100000
)

from google.colab import drive
drive.mount('/content/drive')

In [ ]:
texi.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [ ]:
texi.info(), texi.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                100000 non-null  object
 1   fare_amount        100000 non-null  float64
 2   pickup_datetime    100000 non-null  object
 3   pickup_longitude   100000 non-null  float64
 4   pickup_latitude    100000 non-null  float64
 5   dropoff_longitude  100000 non-null  float64
 6   dropoff_latitude   100000 non-null  float64
 7   passenger_count    100000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 6.1+ MB

(None, Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
        'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
        'passenger_count'],
       dtype='object'))

In [ ]:
texi["pickup_datetime"] = pd.to_datetime(texi["pickup_datetime"])
texi["key"] = pd.to_datetime(texi["key"])

## [2] 결측치 및 이상치 체크

In [ ]:
texi.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

### 특성 새롭게 생성 -> 거리 Feature
---
- 공식: $(x2-x1)^2 + (y2-y1)^2$ 의 루트

In [ ]:
distance = (texi.pickup_latitude - texi.dropoff_latitude)**2 + (texi.pickup_longitude - texi.dropoff_longitude) **2

type(distance)

texi["distance"] = distance

In [ ]:
texi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   key                100000 non-null  datetime64[ns]
 1   fare_amount        100000 non-null  float64
 2   pickup_datetime    100000 non-null  datetime64[ns, UTC]
 3   pickup_longitude   100000 non-null  float64
 4   pickup_latitude    100000 non-null  float64
 5   dropoff_longitude  100000 non-null  float64
 6   dropoff_latitude   100000 non-null  float64
 7   passenger_count    100000 non-null  int64
 8   distance           100000 non-null  float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(6), int64(1)
memory usage: 6.9 MB