# PANDAS DATE-TIME 다루기

In [2]:
# module import
import pandas as pd
DIR_PATH = '../Data/'

# df 객체 생성
df = pd.DataFrame(
    {
        'year': [2021, 2022],
        'month': [11, 12],
        'day': [1, 23]
    }
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [3]:
# DF 객체 타입 정보
df.dtypes

year     int64
month    int64
day      int64
dtype: object

In [4]:
# DateTime 으로 변환 => pandas.to_datetime()
result = pd.to_datetime(df)

print(type(result), result, sep='\n')

<class 'pandas.core.series.Series'>
0   2021-11-01
1   2022-12-23
dtype: datetime64[ns]

In [5]:
one = result[0]

print(type(one), one, sep='\n')

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2021-11-01 00:00:00

In [6]:
one.day, one.month, one.month_name

(1, 11, <function Timestamp.month_name>)

## 타입 및 다른 포맷 변환 메서드들 ... to_변환타입()

In [7]:
result.to_frame()

           0
0 2021-11-01
1 2022-12-23

In [8]:
result.to_string()

'0   2021-11-01\n1   2022-12-23'

In [9]:
result.to_csv('result.csv',index=False)

In [10]:
result.to_json()

'{"0":1635724800000,"1":1671753600000}'

## CSV 파일 활용 실습
- 날짜 데이터가 있는 CSV 파일 처리하기

In [15]:
surveyVistDf = pd.read_csv(DIR_PATH+'survey_visited.csv')
surveyVistDf.info(), surveyVistDf.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   7 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

(None, Index(['ident', 'site', 'dated'], dtype='object'))

In [33]:
surveyVistDf['dated'].fillna(method='ffill', inplace=True)

surveyDate = pd.to_datetime(surveyVistDf['dated'])
surveyVistDf['dated'] = surveyDate

In [34]:
type(surveyDate[0]), type(surveyVistDf['dated'])

(pandas._libs.tslibs.timestamps.Timestamp, pandas.core.series.Series)

In [36]:
type(surveyVistDf['dated'].dt.year)

pandas.core.series.Series

In [39]:
dateSR = surveyVistDf['dated']
dateSR

0   1927-02-08
1   1927-02-10
2   1939-01-07
3   1930-01-12
4   1930-02-26
5   1930-02-26
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]

In [41]:
dateSR[dateSR.dt.year>1930]

2   1939-01-07
6   1932-01-14
7   1932-03-22
Name: dated, dtype: datetime64[ns]