## 데이터프레임(DataFrame) 실습
- 시리즈(Series) 객체가 2개이상 합쳐진 pandas의 데이터타입
- 구성 : 로우(행) 인덱스 + 컬럼(열) 라벨

In [1]:
# 모듈 로딩
import pandas as pd

datas = [1, 2, 3, [11, 22]]
datas[3][1]

datas = [[1, 2, 3], ["a", "b", "c"]]

df1 = pd.DataFrame(datas)

In [2]:
# DataFrame의 속성 읽기
print(df1)
print(df1.index, df1.columns, df1.values, df1.size, df1.ndim, df1.shape, sep="\n")

   0  1  2
0  1  2  3
1  a  b  c
RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 ['a' 'b' 'c']]
6
2
(2, 3)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [4]:
# Dict 데이터로 DataFrame 객체 생성하기
df2 = pd.DataFrame(
    {
        "name": ["hong", "lee"],
        "age": [12, 5],
        "loc": ["daegu", "busan"],
        "Gen": ["F", "N"],
    }
)
df2

   name  age    loc Gen
0  hong   12  daegu   F
1   lee    5  busan   N

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
 2   loc     2 non-null      object
 3   Gen     2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [13]:
# DataFrame 객체에서 Busan 데이터 추출
print(df2['loc'][1])
print(df2.loc[1])

busan
name      lee
age         5
loc     busan
Gen         N
Name: 1, dtype: object