# Boolean Indexing
- Series / DataFrane 객체에서 빠르게 원하는 원소를 추출하기 위해 사용
- Series / DataFrame 객체의 원소에 연산 결과가 True/False인 결과

In [76]:
# 모듈 로딩
import pandas as pd

# df객체 생성
df = pd.DataFrame(
    {
        "name": ["Park", "Kim", "lee", "Ho", "pal"],
        "age": [10, 21, 16, 22, 10],
        "gender": ["F", "F", "M", "M", "M"],
    }
)

In [77]:
df

   name  age gender
0  Park   10      F
1   Kim   21      F
2   lee   16      M
3    Ho   22      M
4   pal   10      M

In [78]:
# age 컬럼 + 비교연산 -> 15세 이상
ageCol = df.age
result = df.age >= 15
result

0    False
1     True
2     True
3     True
4    False
Name: age, dtype: bool

In [79]:
# age가 15세 이상인 데이터만 추출
ageOver15 = df[result]
ageOver15

  name  age gender
1  Kim   21      F
2  lee   16      M
3   Ho   22      M

In [80]:
# 성별이 남자인 데이터만 추출하기
genderCol = df.gender
result = genderCol == "M"
genderM = df[result]
genderM

  name  age gender
2  lee   16      M
3   Ho   22      M
4  pal   10      M

In [81]:
# 15세 이상 남자만 출력하기
ageOver15
result = ageOver15["gender"] == "M"
ageOver15M = ageOver15[result]
ageOver15M

  name  age gender
2  lee   16      M
3   Ho   22      M

In [82]:
r1 = df["age"] >= 15
r2 = df["gender"] == "M"
df[r1 & r2]

  name  age gender
2  lee   16      M
3   Ho   22      M