In [12]:
import pandas as pd
import pymysql

In [13]:
# mysql과 연결하는 정보 저장
conn = pymysql.connect(
    host='mysql', user='root', password='1111',
    db='sakila', charset='utf8')

In [14]:
# cursor 객체 생성
cur = conn.cursor()

# sql문 작성
cur.execute('select * from language')

# 조회 결과 가져오기
rows = cur.fetchall()


# commit 함수: 데이터를 추가, 수정, 삭제 등의 작업을 한 다음에 실행

In [15]:
rows

((1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19)))

In [16]:
# 가져온 결과를 DF로 저장
language_df = pd.DataFrame(rows)

In [17]:
language_df

   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

In [18]:
# 커서 닫기
cur.close()

# 연결 닫기
conn.close()