# DF & SR 데이터들의 연결 실습
- 행(row) 방향 / 열 (column) 방향 데이터 연결하기
    - pandas.concat([data, data, ...], axis=0, join='outer)
        - 기본값 => 행방향, 합집합 --> 없는 데이터(컬럼)는 NaN 채우기
    - pandas.DataFrame.append(DF)
        - 행방향만 연결 => 곧 없어질 메서드 (Deprecated)

In [2]:
import pandas as pd

# df 두개 생성
df1 = pd.DataFrame({"A": [1, 2, 3, 4, 5], "B": [11, 22, 33, 44, 55]})
df2 = pd.DataFrame({"B": [1, 2, 3], "C": [4, 5, 6]})

In [3]:
df1

   A   B
0  1  11
1  2  22
2  3  33
3  4  44
4  5  55

In [4]:
df2

   B  C
0  1  4
1  2  5
2  3  6

## 2개의 DF 연결

### concat 실습

In [5]:
pd.concat([df1, df2])

     A   B    C
0  1.0  11  NaN
1  2.0  22  NaN
2  3.0  33  NaN
3  4.0  44  NaN
4  5.0  55  NaN
0  NaN   1  4.0
1  NaN   2  5.0
2  NaN   3  6.0

In [6]:
allDF3 = pd.concat([df1,df2], ignore_index=True, join='inner')
allDF3

    B
0  11
1  22
2  33
3  44
4  55
5   1
6   2
7   3

### DataFrame.append() 실습

In [7]:
df1.append(df2)

C:\Users\User\AppData\Local\Temp\ipykernel_812\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A   B    C
0  1.0  11  NaN
1  2.0  22  NaN
2  3.0  33  NaN
3  4.0  44  NaN
4  5.0  55  NaN
0  NaN   1  4.0
1  NaN   2  5.0
2  NaN   3  6.0