In [2]:
import pandas as pd
import os

In [3]:
path = 'C:/RProject/team2_orange/younghyo/AmongUsData/'
files = os.listdir(path)
df = pd.concat([pd.read_csv(path + i) for i in files ])
df = df.reset_index(drop=True)

In [6]:
df.drop(['Game Completed Date', 'Rank Change', 'Region/Game Code'], axis = 1, inplace = True)

In [16]:
df.replace('-', '', inplace = True)

In [19]:
df

,Team,Outcome,Task Completed,All Tasks Completed,Murdered,Imposter Kills,Game Length,Ejected,Sabotages Fixed,Time to complete all tasks
0,Crewmate,Win,3,No,Yes,,07m 04s,No,2.0,
1,Crewmate,Loss,7,Yes,No,,16m 21s,No,1.0,09m 48s
2,Crewmate,Win,3,No,No,,11m 33s,No,0.0,
3,Imposter,Win,,,,2,08m 05s,No,NaN,
4,Crewmate,Loss,4,No,No,,05m 10s,No,0.0,
...,...,...,...,...,...,...,...,...,...,...
2222,Imposter,Loss,,,,2,11m 02s,No,NaN,
2223,Crewmate,Loss,7,Yes,Yes,,06m 56s,No,0.0,04m 09s
2224,Crewmate,Win,7,Yes,Yes,,22m 06s,No,0.0,06m 31s
2225,Crewmate,Loss,7,Yes,No,,13m 41s,No,0.0,06m 06s
2226,Crewmate,Loss,8,Yes,Yes,,13m 27s,No,0.0,05m 37s

In [31]:
int(df['Game Length'][0].split()[0][:2])*60 + int(df['Game Length'][0].split()[1][:2])

424

In [38]:
for i in range(len(df.index)):
    df['Game Length'][i] = int(df['Game Length'][i].split()[0][:2])*60 + int(df['Game Length'][i].split()[1][:2])

C:\Users\User\AppData\Local\Temp\ipykernel_16656\3025024952.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Game Length'][i] = int(df['Game Length'][i].split()[0][:2])*60 + int(df['Game Length'][i].split()[1][:2])

In [42]:
df.columns = ['Team', 'Outcome', 'Task_Completed', 'All_Tasks_Completed', 'Murdered',
       'Imposter_Kills', 'Game_Length', 'Ejected', 'Sabotages_Fixed',
       'Time_to_complete_all_tasks']

In [43]:
df

,Team,Outcome,Task_Completed,All_Tasks_Completed,Murdered,Imposter_Kills,Game_Length,Ejected,Sabotages_Fixed,Time_to_complete_all_tasks
0,Crewmate,Win,3,No,Yes,,424,No,2.0,
1,Crewmate,Loss,7,Yes,No,,981,No,1.0,09m 48s
2,Crewmate,Win,3,No,No,,693,No,0.0,
3,Imposter,Win,,,,2,485,No,NaN,
4,Crewmate,Loss,4,No,No,,310,No,0.0,
...,...,...,...,...,...,...,...,...,...,...
2222,Imposter,Loss,,,,2,662,No,NaN,
2223,Crewmate,Loss,7,Yes,Yes,,416,No,0.0,04m 09s
2224,Crewmate,Win,7,Yes,Yes,,1326,No,0.0,06m 31s
2225,Crewmate,Loss,7,Yes,No,,821,No,0.0,06m 06s
2226,Crewmate,Loss,8,Yes,Yes,,807,No,0.0,05m 37s

In [44]:
df.to_csv(path + 'amongus.csv', index = False)