# 판다스로 엑셀 불러와 분석

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import platform

In [2]:
df = pd.read_excel('../Data/subway.xls', sheet_name='지하철 시간대별 이용현황', header=[0, 1])
df.head()

                 사용월                호선명                역ID               지하철역  \
  Unnamed: 0_level_1 Unnamed: 1_level_1 Unnamed: 2_level_1 Unnamed: 3_level_1
0            2022-06                1호선                150                서울역
1            2022-06                1호선                151                 시청
2            2022-06                1호선                152                 종각
3            2022-06                1호선                153               종로3가
4            2022-06                1호선                154               종로5가

  04:00:00~04:59:59     05:00:00~05:59:59        06:00:00~06:59:59          \
                 승차  하차                승차     하차                승차      하차
0               646  24             8,433  7,694            12,608  46,963
1               271   7             3,133  4,802             3,321  23,621
2                91   9             4,007  3,960             3,682  22,533
3               190  12             3,882  3,261             3,570  14,038
4                34   0             1,730  3,909             2,986  16,406

   ... 23:00:00~23:59:59 00:00:00~00:59:59        01:00:00~01:59:59     \
   ...                하차                승차     하차                승차 하차
0  ...            15,480               158  1,332                 1  4
1  ...             2,938                72    422                 0  2
2  ...             3,590               315    394                 0  1
3  ...             4,119               310    843                 3  3
4  ...             2,628                98    668                 0  0

  02:00:00~02:59:59    03:00:00~03:59:59                    작업일시
                 승차 하차                승차 하차  Unnamed: 52_level_1
0                 0  1                 0  0  2022-07-03 09:48:05
1                 0  0                 0  0  2022-07-03 09:48:05
2                 0  0                 0  0  2022-07-03 09:48:05
3                 0  0                 0  0  2022-07-03 09:48:05
4                 0  0                 0  0  2022-07-03 09:48:05

[5 rows x 53 columns]

## 특정 컬럼 데이터 가져오기: 호선명
- 멀티 인덱스의 경우 튜플 형식으로 접근
- df[('첫번째행', '두번째행')]

In [3]:
df.columns

MultiIndex([(              '사용월',  'Unnamed: 0_level_1'),
            (              '호선명',  'Unnamed: 1_level_1'),
            (              '역ID',  'Unnamed: 2_level_1'),
            (             '지하철역',  'Unnamed: 3_level_1'),
            ('04:00:00~04:59:59',                  '승차'),
            ('04:00:00~04:59:59',                  '하차'),
            ('05:00:00~05:59:59',                  '승차'),
            ('05:00:00~05:59:59',                  '하차'),
            ('06:00:00~06:59:59',                  '승차'),
            ('06:00:00~06:59:59',                  '하차'),
            ('07:00:00~07:59:59',                  '승차'),
            ('07:00:00~07:59:59',                  '하차'),
            ('08:00:00~08:59:59',                  '승차'),
            ('08:00:00~08:59:59',                  '하차'),
            ('09:00:00~09:59:59',                  '승차'),
            ('09:00:00~09:59:59',                  '하차'),
            ('10:00:00~10:59:59',                  '승차'),
            ('10:00:00~10:59:59',                  '하차'),
            ('11:00:00~11:59:59',                  '승차'),
            ('11:00:00~11:59:59',                  '하차'),
            ('12:00:00~12:59:59',                  '승차'),
            ('12:00:00~12:59:59',                  '하차'),
            ('13:00:00~13:59:59',                  '승차'),
            ('13:00:00~13:59:59',                  '하차'),
            ('14:00:00~14:59:59',                  '승차'),
            ('14:00:00~14:59:59',                  '하차'),
            ('15:00:00~15:59:59',                  '승차'),
            ('15:00:00~15:59:59',                  '하차'),
            ('16:00:00~16:59:59',                  '승차'),
            ('16:00:00~16:59:59',                  '하차'),
            ('17:00:00~17:59:59',                  '승차'),
            ('17:00:00~17:59:59',                  '하차'),
            ('18:00:00~18:59:59',                  '승차'),
            ('18:00:00~18:59:59',                  '하차'),
            ('19:00:00~19:59:59',                  '승차'),
            ('19:00:00~19:59:59',                  '하차'),
            ('20:00:00~20:59:59',                  '승차'),
            ('20:00:00~20:59:59',                  '하차'),
            ('21:00:00~21:59:59',                  '승차'),
            ('21:00:00~21:59:59',                  '하차'),
            ('22:00:00~22:59:59',                  '승차'),
            ('22:00:00~22:59:59',                  '하차'),
            ('23:00:00~23:59:59',                  '승차'),
            ('23:00:00~23:59:59',                  '하차'),
            ('00:00:00~00:59:59',                  '승차'),
            ('00:00:00~00:59:59',                  '하차'),
            ('01:00:00~01:59:59',                  '승차'),
            ('01:00:00~01:59:59',                  '하차'),
            ('02:00:00~02:59:59',                  '승차'),
            ('02:00:00~02:59:59',                  '하차'),
            ('03:00:00~03:59:59',                  '승차'),
            ('03:00:00~03:59:59',                  '하차'),
            (             '작업일시', 'Unnamed: 52_level_1')],
           )

In [4]:
df[('호선명', 'Unnamed: 1_level_1')]

0      1호선
1      1호선
2      1호선
3      1호선
4      1호선
      ...
610    신림선
611    신림선
612    신림선
613    신림선
614    신림선
Name: (호선명, Unnamed: 1_level_1), Length: 615, dtype: object

In [5]:
df[('지하철역', 'Unnamed: 3_level_1')]

0           서울역
1            시청
2            종각
3          종로3가
4          종로5가
         ...
610          당곡
611          신림
612          서원
613     서울대벤처타운
614    관악산(서울대)
Name: (지하철역, Unnamed: 3_level_1), Length: 615, dtype: object

In [6]:
commute_time_df = df.iloc[:, [1, 3, 10, 12, 14]].copy()
commute_time_df.head()

,호선명,지하철역,07:00:00~07:59:59,08:00:00~08:59:59,09:00:00~09:59:59
,Unnamed: 1_level_1,Unnamed: 3_level_1,승차,승차,승차
0,1호선,서울역,"39,233","65,106","54,833"
1,1호선,시청,"6,647","8,294","9,211"
2,1호선,종각,"5,814","9,612","11,847"
3,1호선,종로3가,"4,746","8,589","13,179"
4,1호선,종로5가,"5,020","8,550","11,925"

In [7]:
commute_time_df.dtypes

호선명                Unnamed: 1_level_1    object
지하철역               Unnamed: 3_level_1    object
07:00:00~07:59:59  승차                    object
08:00:00~08:59:59  승차                    object
09:00:00~09:59:59  승차                    object
dtype: object

## 데이터 타입 변경

In [8]:
for i in [2, 3, 4]:
    commute_time_df.iloc[:, i] = commute_time_df.iloc[:, i].apply(lambda x: x.replace(',', ''))
    commute_time_df.iloc[:, i] = commute_time_df.iloc[:, i].astype('int64')

In [9]:
commute_time_df.dtypes

호선명                Unnamed: 1_level_1    object
지하철역               Unnamed: 3_level_1    object
07:00:00~07:59:59  승차                     int64
08:00:00~08:59:59  승차                     int64
09:00:00~09:59:59  승차                     int64
dtype: object

In [10]:
commute_time_df.head()

,호선명,지하철역,07:00:00~07:59:59,08:00:00~08:59:59,09:00:00~09:59:59
,Unnamed: 1_level_1,Unnamed: 3_level_1,승차,승차,승차
0,1호선,서울역,39233,65106,54833
1,1호선,시청,6647,8294,9211
2,1호선,종각,5814,9612,11847
3,1호선,종로3가,4746,8589,13179
4,1호선,종로5가,5020,8550,11925

In [11]:
row_sum_df = commute_time_df.sum(axis=1, numeric_only=True)
row_sum_df
passenger_number_list = row_sum_df.to_list()

# print(passenger_number_list)
row_sum_df.head()

0    159172
1     24152
2     27273
3     26514
4     25495
dtype: int64

In [12]:
max_number = row_sum_df.max(axis=0)
max_number

638753

In [13]:
max_index = row_sum_df.idxmax()
max_line, max_station = df.iloc[max_index, [1, 3]]
print(max_line, max_station, max_number)

2호선 신림 638753